node_modules/
.next/
dist/
build/
.turbo/
*.log
.env
.env.local
.env.*.local
.DS_Store
*.pem
coverage/
.idea/
.vscode/
*.swp
*.swo

# Flutter/Dart
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub-cache/
.pub_cache/
*.jar
.vercel
.env*.local

# Security
firebase-service-account.json
**/firebase-service-account.json

# Android Binaries
android-twa/jdk17/
android-twa/jdk17.zip
android-twa/.gradle/
android-twa/local.properties
